a {
  color: #000;

  &:visited {
    color: #000;
  }

  &:hover {
    color: #000;
    font-weight: 500;
  }
}

.language-select {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: right;
  margin: 0 1rem 1rem 0;
}
