<div class="wrapper">

  <div class="calculator">
    <div>
      <h3 i18n="calculate pay title">Salaris berekenen</h3>
      <form>
        <mat-form-field appearance="outline">
          <mat-label i18n>Salarisschaal</mat-label>
          <mat-select [(value)]="selectedScale">
            @for (scale of scales(); track scale) {
            <mat-option [value]="scale">{{scale.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label i18n>Trap</mat-label>
          <mat-select [(value)]="selectedStep" [disabled]="!selectedScale()">
            @for (step of steps(); track step) {
            <mat-option [value]="step">{{step}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="information">
      @if (selectedStep() !== undefined && selectedScale() !== undefined) {
        <app-pay-breakdown [scale]="selectedScale()!" [step]="selectedStep()!"></app-pay-breakdown>
      } @else {
        <p i18n="no pay scale selection placeholder">Selecteer een salarisschaal en trap om de berekening te bekijken</p>
      }
    </div>
  </div>
  <app-footer></app-footer>
</div>
