<mat-form-field>
  <mat-label>Niveau</mat-label>
  <mat-select [(value)]="selectedCategory">
    @for (category of categories(); track category) {
    <mat-option [value]="category">{{category}}</mat-option>
    }
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Salarisschaal</mat-label>
  <mat-select [(value)]="selectedScale">
    @for (scale of scales(); track scale) {
    <mat-option [value]="scale">{{scale.name}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Trap</mat-label>
  <mat-select [(value)]="selectedTrap" [disabled]="!selectedScale()">
    @for (trap of trappen(); track trap) {
    <mat-option [value]="trap">{{trap}}</mat-option>
    }
  </mat-select>
</mat-form-field>
<p>
  {{ information() }}
</p>
